:root {
  --primary-color: #0766eb;
  --border-color:rgba(128, 128, 128, 0.199);
}

.link , .link:hover{
  text-decoration: none;
  color: var(--primary-color);
}

*{
  overflow: hidden;
}
.login-page{
  height: 100vh;
  width: 100vw;
}

.welcome{
  height: 100vh;
  width: 100vw;
  color: var(--primary-color);
  text-transform: uppercase;
  animation: fadeIn 1.5s ease-in-out forwards;


}

.welcome img{
  width: 7rem;
  height: 7rem;
}

.welcome h4{
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.welcome p{
  font-size: 1.2rem;
  font-weight: 500;
}



.carousel{
  height: 80vh;
  text-transform: capitalize;
}
.carousel img{
  width: 25rem;
  height: 25rem;
}

.form{
  height: 100vh;
  width: 100%;
}

.form form{
  width: 100%;
}

.form h4{
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 2rem;
}

.form h6{
  font-size: 1.5rem;

}

.form p{
  color:grey;
  font-weight: 500;
}

.form-floating{
  width: 30rem;
}

.btn{
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.btn:hover{
  background-color: var(--primary-color);
  color: white;
}

.form input{
  width: 100%;
}

.dashboard{
  height: 100vh;
  width: 100vw;
  background-color: rgba(161, 161, 161, 0.062);
  overflow-y: hidden;
 
}

.sidebar{
  padding: 0.5rem;
  border:2px solid rgba(128, 128, 128, 0.199);
  background-color: white;
  height: 100%;
  border-radius: 1.3rem;
}

.sidebar div{
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
}

.sidebar-sections{
  width: 100%;
}
.sidebar-section:hover{
  background-color: rgba(128, 128, 128, 0.137);
}

.sidebar-active{
  color: var(--primary-color);
}

.sidebar {
  font-size: 1.1rem;
  font-weight: 500;
}

.logout-btn{
  font-size: 1.3rem;
}

.logout-btn:hover{
 background-color: rgba(248, 25, 25, 0.295);
 border: 2px solid red;
}


.main-section{
border:2px solid rgba(128, 128, 128, 0.199);
border-radius: 1.3rem;
overflow:hidden;
overflow-y: scroll;
height: 93%;
}


.main-section::-webkit-scrollbar
{
 display: none;
}



.avatar{
  border-radius: 50%;
}

.navbar{
  /* background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082); */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.title{
  font-size: 1.2rem;
  font-weight: 600;
}

.sub-title{
  font-weight: 500;
  color: grey;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.add-btn{
  color: var(--primary-color);
}
.notification{
  position: relative;
  top: -2rem;
  left: 2.4rem;
 height: 0.5rem;
 width: 0.5rem;
 font-weight: 600;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  cursor: pointer;
}



.income-title{
  color: #11884c;
}

.expense-title{
  color: #d91827;
}

.income-icon{
  background-color: #a7c7b6;
  color: #11884c;
  font-size: 2rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.expense-icon{
  background-color: #d9b9b9;
  color: #d91827;
  font-size: 2rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.chart{
  background-color: white;
  border-radius: 1rem;
  margin-top: 2rem;
  border:1px solid rgba(128, 128, 128, 0.199);
}

.custom-dropdown {
  width: 14rem;
  text-align: center;
}

.dropdown-btn {
  border: 1px solid rgba(0, 0, 0, 0.288);
  padding: 0.5rem;
  border-radius: 2rem;
  font-weight: 600;
  z-index: 10000;
  cursor: pointer;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.custom-dropdown-options {
  border: 2px solid rgba(128, 128, 128, 0.199);
  position: absolute;
  width: 13rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  z-index: 1000000;
}

.custom-dropdown-options div {
  z-index: 1000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.199);
  padding: 0.7rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer; 
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.custom-dropdown-options div:last-child {
  border-bottom: none; /* Remove border from the last option */
}

.special-icons{
  border-radius:0.3rem;
   font-size:2.2rem;
   padding:0.4rem 
}

.card{
  height: 7rem;
  border: none;
  width: 100%;
}

.saved_amount{
  color: var(--primary-color);
  font-weight: 500;
}

.left_amount{
  color: grey;
  font-weight: 500;
}

.current_amount{
  color: red;
  font-size: 1.6rem;
  font-weight: 600;
}

.budget_amount{
  color: grey;
}

.bottom-navbar{
  height: 7%;
  width: 100%;
  display: none;
  font-size: 0.9rem;
 
}

.bottom-nav-sections{
  cursor: pointer;
  font-weight: 500;
}

.stats-sections{
  width: 20rem;
  border-radius: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  height: 3rem;
}

.stats-sections div{
  height: 100%;
  padding-top: 0.5rem;
  border-right:1px solid rgba(128, 128, 128, 0.199);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */

}

.stats-active{
  background-color: black;
  color: white;
}

.amount{
  font-size: 1.2rem;
  font-weight: 600;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

@media (min-width:576px){
  .main-section{
    height: 100%;
  }
}
@media (max-width: 576px) {
  .main-section {
    border-radius: 0;
    border: none;  
  }

  .bottom-navbar{
    display: block;
  }
  .custom-dropdown {
    width: 10rem;
    text-align: center;
  }
  .dropdown-btn {
    padding: 0.3rem;
  }
  .custom-dropdown-options {
    width: 8rem;
  }
}